<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Services</h1>
            <p class="text-center sub-heading">gorw your business with us</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                            <h4>Settings</h4>
                            <p>Discover our website with our intuitive settings feature.Our website settings allow you to customize and manage every aspect of your online presence. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services privacy">
                            <div class="icon">
                                <img src="https://i.imgur.com/AgyneKA.png" alt="">
                            </div>
                            <h4>Privacy</h4>
                            <p>Privacy is a top priority on our website. We are committed to safeguarding your personal information and ensuring a secure browsing experience.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services backups">
                            <div class="icon">
                                <img src="https://i.imgur.com/vdH9LKi.png" alt="">
                            </div>
                            <h4>Backups</h4>
                            <p>At our website, data security is paramount. We employ regular automated backups to protect your valuable information from potential loss or disruptions.  </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ssl">
                            <div class="icon">
                                <img src="https://i.imgur.com/v6OnUqu.png" alt="">
                            </div>
                            <h4>SSL Secured</h4>
                            <p>Explore our website with confidence.Our SSL secured platform encrypts data transmission, safeguarding sensitive information from unauthorized access. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services database">
                            <div class="icon">
                                <img src="https://i.imgur.com/VzjZw9M.png" alt="">
                            </div>
                            <h4>Database</h4>
                            <p>Our efficient database management enhances performance, enabling us to deliver a smooth user experience and support your business growth needs effectively. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 